.yourTurn {
    display: none;
}

.takeDeck {
    position: relative;
    display: none;
}

.ready {
    position: relative;
    display: none;
}

.bottom {
    position: absolute;
    bottom: 0;
    left: 25%;
    width: 70%;
}

.otherPlayerCard {
    padding-right: 1%;
    position: relative;
    width: 8%;
    height: 8%;
    /*padding-top: -80%;*/
}

.left #cardsBack0 {
    /*top: 5%;*/
    z-index: 0;
}

.left #cardsBack1 {
    /*top: 15%;*/
    z-index: 1;
}

.left #cardsBack2 {
    /*top: 25%;*/
    z-index: 2;
}

.left #cardsBack3 {
    top: 35%;
    z-index: 3;
}

.left #cardsBack4 {
    top: 45%;
    z-index: 4;
}

.left #cardsBack5 {
    top: 55%;
    z-index: 5;
}

.left #cardsBack6 {
    top: 65%;
    z-index: 6;
}

.left #cardsBack7 {
    top: 75%;
    z-index: 7;
}

.imgDeck {
    position: relative;
    left: 14.5%;
    top: 14.5%;
    width: 15%;
    height: 50%;
    margin-right: 3%;
}

.imgNotPlayable{
    padding-right: 1%;
    width: 8%;
    height: 8%;
    opacity: 0.6;
}

.imgHand {
    padding-right: 1%;
    /*width: 100px;
    height: 180px;*/
    width: 8%;
    height: 8%;
}

.imgHand:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
}

.up {
    position: absolute;
    top: 10px;
    left: 25%;
    width: 70%;
}

.left {
    position: absolute;
    left: 10%;
    width: 8%;
    height: 90%;
}

.right {
    position: absolute;
    right: 10%;
    width: 8%;
    height: 90%;
}

.center {
    position: absolute;
    left: 40px;
    top: 40px;
}

.deck {
    position: absolute;
    /*left: 450px;
    top: 200px;
    float: left;
    width: 600px;
    height: 300px;
    margin: 10px;
    padding: 10px;*/
    left: 25%;
    top: 25%;
    width: 50%;
    height: 50%;
    border: 1px solid black;
}


.msg {
    position: absolute;
    left: 50%;
    top: 10%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: none;
}

table.overallTable {
    margin-top: 10%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
