.yourTurn {
    display: none;
}

.takeDeck {
    position: relative;
    display: none;
}

.ready {
    position: relative;
    display: none;
}

.bottom {
    position: absolute;
    bottom: 0;
    left: 25%;
}

.otherPlayerCard {
    width: 100px;
    height: 180px;
}

.imgDeck {
    width: 100px;
    height: 180px;
}

.imgHand {
    width: 100px;
    height: 180px;
}

.imgHand:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
}

.up {
    position: absolute;
    top: 10px;
    left: 350px;
}

.left {
    position: absolute;
    left: 100px;
    width: 200px;
}

.right {
    position: absolute;
    right: 100px;
    width: 200px;
}

.center {
    position: absolute;
    left: 40px;
    top: 40px;
}

.deck {
    position: relative;
    left: 450px;
    top: 200px;
    float: left;
    width: 600px;
    height: 300px;
    margin: 10px;
    padding: 10px;
    /*border: 1px solid black;*/
}

.resultTable {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    display: none;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
