.nameLabel {
    position: absolute;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 25px;
    top: 34%;
    left: 45%;
}

.nameInput{
    position: absolute;
    font-size: 20px;
    width: 19%;
    height: 5%;
    top: 40%;
    left: 40%;
    z-index: 99999;
}

.button {
    position: absolute;
    top: 48%;
    left: 46%;
    z-index: 8888;
    display: inline-block;
    vertical-align: top;
    padding: 10px 25px;
    transition: all .1s;
    font-family: inherit;
    cursor: pointer;
    font-size: 15px;
    color: #111;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 2px rgba(255, 255, 255, 1);
    background-color: #ccc;
    background-clip: padding-box;
    border: 1px solid;
    border-color: #202020 #1a1a1a #111;
    border-radius: 2px;
    background-image: -webkit-linear-gradient(top, #efefef, #777);
    background-image: -moz-linear-gradient(top, #efefef, #777);
    background-image: -o-linear-gradient(top, #efefef, #777);
    background-image: linear-gradient(to bottom, #efefef, #777);
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.09), 0 1px 1px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.09), 0px 1px 1px rgba(0, 0, 0, 0.2);
}
.button:hover {
    background-color: #aaaaaa;
    background-image: -webkit-linear-gradient(top, #ccc, #555);
    background-image: -moz-linear-gradient(top, #ccc, #555);
    background-image: -o-linear-gradient(top, #ccc, #555);
    background-image: linear-gradient(to bottom, #ccc, #555);
}
.button:active, .button.active {
    background-color: #b42f32;
    border-color: #1c1c1c #202020 #222;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.09);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.09);
}

.rounded {border-radius:100em;}

.lightGrey {
    color: #bbb;
    text-shadow: 0 0 2px rgba(0, 0, 0, .7);
    background-color: #303030;
    border-color: #1c1c1c #202020 #222;
    background-image: -webkit-linear-gradient(top, #8e8e8e, #434343);
    background-image: -moz-linear-gradient(top, #8e8e8e, #434343);
    background-image: -o-linear-gradient(top, #8e8e8e, #434343);
    background-image: linear-gradient(to bottom, #8e8e8e, #434343);
}
.lightGrey:hover {
    background-color: #313131;
    background-image: -webkit-linear-gradient(top, #7b7b7b, #2a2a2a);
    background-image: -moz-linear-gradient(top, #7b7b7b, #2a2a2a);
    background-image: -o-linear-gradient(top, #7b7b7b, #2a2a2a);
    background-image: linear-gradient(to bottom, #7b7b7b, #2a2a2a);
}

.lightGreen {
    color: #eaffe9;
    text-shadow: 0 0 2px rgba(0, 0, 0, .7);
    background-color: #4a9a1f;
    border-color: #00371a #202020 #222;
    background-image: -webkit-linear-gradient(top, #005d23, #0c8f0d);
    background-image: -moz-linear-gradient(top, #005d23, #0c8f0d);
    background-image: -o-linear-gradient(top, #005d23, #0c8f0d);
    background-image: linear-gradient(to bottom, #005d23, #0c8f0d);
}

.lightGreen:hover {
    background-color: #313131;
    background-image: -webkit-linear-gradient(top, #004920, #0c6d0d);
    background-image: -moz-linear-gradient(top, #004920, #0c6d0d);
    background-image: -o-linear-gradient(top, #004920, #0c6d0d);
    background-image: linear-gradient(to bottom, #004920, #0c6d0d);
}

.yourTurn {
    display: none;
}

.takeDeck {
    top: 63%;
    left: 45%;
    display: none;
}

.ready {
    top: 63%;
    left: 45%;
    display: none;
}

.bottom {
    position: absolute;
    bottom: 0;
    left: 25%;
    width: 70%;
}

.otherPlayerCard {
    padding-right: 1%;
    position: relative;
    width: 8%;
    height: 8%;
    /*padding-top: -80%;*/
}

.left #cardsBack0 {
    /*top: 5%;*/
    z-index: 0;
}

.left #cardsBack1 {
    /*top: 15%;*/
    z-index: 1;
}

.left #cardsBack2 {
    /*top: 25%;*/
    z-index: 2;
}

.left #cardsBack3 {
    top: 35%;
    z-index: 3;
}

.left #cardsBack4 {
    top: 45%;
    z-index: 4;
}

.left #cardsBack5 {
    top: 55%;
    z-index: 5;
}

.left #cardsBack6 {
    top: 65%;
    z-index: 6;
}

.left #cardsBack7 {
    top: 75%;
    z-index: 7;
}

.imgDeck {
    position: relative;
    left: 14.5%;
    top: 14.5%;
    width: 15%;
    height: 50%;
    margin-right: 3%;
}

.imgNotPlayable{
    padding-right: 1%;
    width: 8%;
    height: 8%;
    opacity: 0.6;
}

.imgHand {
    padding-right: 1%;
    /*width: 100px;
    height: 180px;*/
    width: 8%;
    height: 8%;
}

.imgHand:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
}

.up {
    position: absolute;
    top: 10px;
    left: 25%;
    width: 70%;
}

.left {
    position: absolute;
    left: 10%;
    width: 8%;
    height: 90%;
}

.right {
    position: absolute;
    right: 10%;
    width: 8%;
    height: 90%;
}

.center {
    position: absolute;
    left: 40px;
    top: 40px;
}

.deck {
    position: absolute;
    /*left: 450px;
    top: 200px;
    float: left;
    width: 600px;
    height: 300px;
    margin: 10px;
    padding: 10px;*/
    left: 25%;
    top: 25%;
    width: 50%;
    height: 50%;
}

/*
.msg {
    position: relative;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 35px;
    left: 27%;
    top: 10%;
    width: 80%;
}
*/

#msgText {
    position: relative;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 40px;
    left: 32%;
    top: 10%;
    width: 80%;
}

table.overallTable {
    position: absolute;
    right: 0;
    top: 0;
    display: none;
}

table.resultTable {
    position: absolute;
    left: 40%;
    top: 40%;
    display: none;
}

table {
    background: #f5f5f5;
    border-collapse: separate;
    box-shadow: inset 0 1px 0 #fff;
    font-size: 12px;
    line-height: 24px;
    margin: 30px auto;
    text-align: left;
    top: 0;
    width: auto;
}

th {
    background: url(https://jackrugile.com/images/misc/noise-diagonal.png), linear-gradient(#777, #444);
    border-left: 1px solid #555;
    border-right: 1px solid #777;
    border-top: 1px solid #555;
    border-bottom: 1px solid #333;
    box-shadow: inset 0 1px 0 #999;
    color: #fff;
    font-weight: bold;
    padding: 10px 15px;
    position: relative;
    text-shadow: 0 1px 0 #000;
}

th:after {
    background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.08));
    content: '';
    display: block;
    height: 25%;
    left: 0;
    margin: 1px 0 0 0;
    position: absolute;
    top: 25%;
    width: 100%;
}

th:first-child {
    border-left: 1px solid #777;
    box-shadow: inset 1px 1px 0 #999;
}

th:last-child {
    box-shadow: inset -1px 1px 0 #999;
}

td {
    border-right: 1px solid #fff;
    border-left: 1px solid #e8e8e8;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #e8e8e8;
    padding: 1% 4%;
    position: relative;
    transition: all 300ms;
}

td:first-child {
    box-shadow: inset 1px 0 0 #fff;
}

td:last-child {
    border-right: 1px solid #e8e8e8;
    box-shadow: inset -1px 0 0 #fff;
}

tr {
    background: url(https://jackrugile.com/images/misc/noise-diagonal.png);
}

tr:nth-child(odd) td {
    background: #f1f1f1 url(https://jackrugile.com/images/misc/noise-diagonal.png);
}

tr:last-of-type td {
    box-shadow: inset 0 -1px 0 #fff;
}

tr:last-of-type td:first-child {
    box-shadow: inset 1px -1px 0 #fff;
}

tr:last-of-type td:last-child {
    box-shadow: inset -1px -1px 0 #fff;
}

tbody:hover td {
    color: transparent;
    text-shadow: 0 0 3px #aaa;
}

tbody:hover tr:hover td {
    color: #444;
    text-shadow: 0 1px 0 #fff;
}